@use '../abstracts/mixins'as *;
@use '../abstracts/variables'as v;

.appFrame {
  display: flex;
  flex-direction: column;
  height: max-content;
  margin: auto;
  margin-top: 6%;
  max-width: 400px;
  justify-content:space-around;
  align-items: center;
}